body{  
    /*background: purple red;*/
    background-image: linear-gradient(to right, red , yellow);
    font-family: roboto;
    font-size: x-large;
    text-align: center; 
}

img{
     width: 320px;
}

img:hover {
    transform: scalex(-1)
}